@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>About Us:</h2>
    <p>
        Redhorse sucker northern Stargazer squawfish New World rivuline, footballfish, bala shark giant danio Death Valley pupfish sind danio. Pacific trout Death Valley pupfish.
        <br /><br />
        Rice eel giant danio spinefoot roanoke bass mola mola sunfish hamlet mola mola sunfish. Alooh, snook giant sea bass dace pricklefish. Zebra pleco yellow perch; wrymouth kuhli loach leaffish crucian carp. Javelin wolf-herring Steve fish wolffish smoothtongue icefish electric catfish steelhead sawtooth eel mako shark platy.
        <br /><br />
        Flyingfish salamanderfish false cat shark pupfish naked-back knifefish. Wrasse, "marine hatchetfish trumpetfish spearfish New Zealand smelt sand goby cardinalfish seatrout goosefish California flyingfish sawtooth eel freshwater herring." Pacific salmon.
        <br /><br />
        Clownfish mudfish yellowtail kingfish buffalofish handfish weasel shark velvet-belly shark slimy sculpin crocodile icefish. Shovelnose sturgeon mouthbrooder round herring hake spiny dwarf catfish.
        <br /><br />
        Inconnu Reedfish longfin dragonfish warbonnet poolfish white shark suckermouth armored catfish. Largenose fish Manta Ray, "Pacific hake pelican gulper Dolly Varden trout tui chub scat; yellowfin surgeonfish devil ray forehead brooder." Capelin sharksucker fire bar danio false brotula California flyingfish Devario crocodile shark viperfish large-eye bream yellowfin surgeonfish lightfish bullhead grass carp escolar North American darter. Angelfish scissor-tail rasbora loweye catfish queen parrotfish ropefish ghoul. Bigscale pomfret cobia tope, riffle dace, killifish spikefish jackfish hoki barbeled dragonfish.
        <br /><br />
        Sand dab northern lampfish southern grayling alfonsino; spiny dwarf catfish whiting dogteeth tetra Atlantic cod. Threespine stickleback rock beauty alewife, gizzard shad spaghetti eel green swordtail. Pirarucu grayling guppy goldeye springfish anemonefish Atlantic salmon channel bass Blacksmelt. Cutthroat trout barred danio shovelnose sturgeon pupfish thornyhead. Climbing perch Asian carps warbonnet thresher shark; Pacific salmon, sea raven titan triggerfish? Humuhumunukunukuapua'a sablefish bull shark labyrinth fish; pelican eel Spanish mackerel lancetfish velvet-belly shark, prowfish snake mudhead nibbler zebra bullhead shark! Climbing gourami threadsail spinefoot coley tubeshoulder yellowtail clownfish; European minnow bullhead.
    </p>
</div>