@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SonOfCod.Models.NewsLetter>

<div class="row">
    @foreach (var newsLetter in Model)
    {
        <div class="well well-sm">
            <h3>@Html.ActionLink(newsLetter.Title, "Details", "NewsLetter", new { id = newsLetter.NewsLetterId }, null)</h3>
            <img src="@Url.Content(newsLetter.Image)" alt="Image" />
        </div>
    }
</div>
