    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<FlickrClone.Models.Post>

<div class="row">
    @foreach (var post in Model)
    {
       <div></div>
    }
</div>
